@page "/FAQ"
<body>
	<h2>
		Frequently Asked Questions
	</h2>
	<br />
	<h4>
		Do I have to register to submit an online adoption form?
	</h4>
	<p>
		Yes, you do have to register with us online to submit an online adoption form?
	</p>
	<h4>
		How much does registering and submitting an online form cost?
	</h4>
	<p>
		Registering with us online and submitting forms are both completely free!
	</p>
	<h4>
		Are all of your puppies good boys and girls?
	</h4>
	<p>
		Yes! All of our dogs are certified good boys and girls! They can't wait to meet you!
	</p>
	<a href="/FAQ/submit">Click Here</a> to submit your own question.
</body>







@code {

}
