@page "/faq/admin/delete"
@using Microsoft.EntityFrameworkCore
@using Test2.Models
@inject IDbContextFactory<Test2.Data.Test2Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <hr />
    @if (faqsubmission is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <EditForm method="post" Model="faqsubmission" OnValidSubmit="DeleteFAQSubmission" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(faqsubmission is null)">Delete</button> |
            <a href="/faq/admin">Back</a>
        </EditForm>
    }
</div>

@code {
    private FAQSubmission? faqsubmission;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        faqsubmission = await context.FAQSubmission.FirstOrDefaultAsync(m => m.Id == Id);

        if (faqsubmission is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteFAQSubmission()
    {
        using var context = DbFactory.CreateDbContext();
        context.FAQSubmission.Remove(faqsubmission!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/faq/admin");
    }
}
