@page "/testing"
@using Microsoft.EntityFrameworkCore
@using Test2.Models
@inject IDbContextFactory<Test2.Data.Test2Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>FAQSubmission</h2>
<hr />
@if (FAQSubmission is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="FAQSubmission" OnValidSubmit="UpdateFAQSubmission" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="FAQSubmission.Id" value="@FAQSubmission.Id" />
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <InputText id="email" @bind-Value="FAQSubmission.Email" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => FAQSubmission.Email" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="question" class="form-label">Question:</label>
                    <InputText id="question" @bind-Value="FAQSubmission.Question" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => FAQSubmission.Question" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="answer" class="form-label">Answer:</label>
                    <InputText id="answer" @bind-Value="FAQSubmission.Answer" class="form-control" />
                    <ValidationMessage For="() => FAQSubmission.Answer" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/faqsubmissions">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private FAQSubmission? FAQSubmission { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        FAQSubmission ??= await context.FAQSubmission.FirstOrDefaultAsync(m => m.Id == Id);

        if (FAQSubmission is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateFAQSubmission()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(FAQSubmission!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!FAQSubmissionExists(FAQSubmission!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/faqsubmissions");
    }

    private bool FAQSubmissionExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.FAQSubmission.Any(e => e.Id == id);
    }
}
