@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@inject AuthenticationStateProvider AuthenticationStateProvider
@page "/component"

<h1>Welcome</h1>

@code {
    private bool IsMember;
    private bool IsAdmin;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        IsMember = user.IsInRole("Member");
        IsAdmin = user.IsInRole("Admin");
    }
}

@if (IsMember)
{
    <h1>Hello Member</h1>
}

@if (IsAdmin)
{
    <h1>Hello Admin</h1>
}

