@page "/contactus"
<h3>ContactUs</h3>
<div class="contact-info mb-4">
    <p>
        <strong>Email:</strong> <a href="mailto:info@adoptadog.com">info@adoptadog.com</a><br />
        <strong>Phone:</strong> <a href="tel:+1234567890">(123) 456-7890</a>
    </p>
</div>
<p>
    <a href="contactforms/create">Contact US</a>
</p>
@code {
}
