@page "/"

<PageTitle>Home</PageTitle>
<center>
<h1>Welcome to the Dog Adoption Center!!!</h1>
    <br>
    <h3>Come and say hello to all of the wonderful dogs that we have here!</h3>
    <img src="Images/dog-puppy-on-garden-royalty-free-image-1586966191-252309654.jpg" />
</center>

<table>
    <tr>
        <td>
            Contact Us?:
        </td>
        <td>
            Dog News:
        </td>
    </tr>
    <tr>
        <td>
            We are a loving and unique dog adoption agency in the Fargo-Moorhead area who specialize in rescues.
            Please let us know if you know of any dogs who are looking for a home through the contact page and
            if you have any questions please message us on the FAQ board. If you would like to adopt a dog please register and log in to view all of the dogs that we have available.
        </td>
        <td>
            Scout, our puppy golden retriever, was recently adopted! His owners are holding a party for his adoption on the 22nd in Willow Park. They requested that
            we invite everyone here to encourage them to come to the party as our community has been so supportive! Thank you so much for making the space that we've created
            welcoming and happy for our little dogs. Love you all!
        </td>
    </tr>

</table>



