@page "/forms/edit"
@using Microsoft.EntityFrameworkCore
@using AdoptionWebsiteTest.Models
@inject IDbContextFactory<AdoptionWebsiteTest.Data.AdoptionWebsiteTestContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Form</h2>
<hr />
@if (Form is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Form" OnValidSubmit="UpdateForm" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Form.Id" value="@Form.Id" />
                <div class="mb-3">
                    <label for="fullname" class="form-label">FullName:</label>
                    <InputText id="fullname" @bind-Value="Form.FullName" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Form.FullName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <InputText id="email" @bind-Value="Form.Email" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Form.Email" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="phonenumber" class="form-label">PhoneNumber:</label>
                    <InputNumber id="phonenumber" @bind-Value="Form.PhoneNumber" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Form.PhoneNumber" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address:</label>
                    <InputText id="address" @bind-Value="Form.Address" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Form.Address" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="city" class="form-label">City:</label>
                    <InputText id="city" @bind-Value="Form.City" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Form.City" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="state" class="form-label">State:</label>
                    <InputText id="state" @bind-Value="Form.State" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Form.State" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="housesize" class="form-label">HouseSize:</label>
                    <InputText id="housesize" @bind-Value="Form.HouseSize" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Form.HouseSize" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="numberofpets" class="form-label">NumberOfPets:</label>
                    <InputNumber id="numberofpets" @bind-Value="Form.NumberOfPets" class="form-control" />
                    <ValidationMessage For="() => Form.NumberOfPets" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="previousdogowner" class="form-label">PreviousDogOwner:</label>
                    <InputCheckbox id="previousdogowner" @bind-Value="Form.PreviousDogOwner" class="form-check-input" />
                    <ValidationMessage For="() => Form.PreviousDogOwner" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="questionsconcerns" class="form-label">QuestionsConcerns:</label>
                    <InputText id="questionsconcerns" @bind-Value="Form.QuestionsConcerns" class="form-control" />
                    <ValidationMessage For="() => Form.QuestionsConcerns" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/forms">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Form? Form { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Form ??= await context.Form.FirstOrDefaultAsync(m => m.Id == Id);

        if (Form is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateForm()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Form!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!FormExists(Form!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/forms");
    }

    private bool FormExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Form.Any(e => e.Id == id);
    }
}
